
body {
    background: linear-gradient(180deg, #ffffff 0, #faffff 10%, #e2ffff 20%, #c7ffff 30%, #a8f7ff 40%, #85e8ff 50%, #5dd9fc 60%, #2ccafa 70%, #00bdfa 80%)
}

header{
    text-align: center;
}

header img {
        width: 160px;
        height:auto;
}

h1 {
    font-family:"Questrial";
    text-align: center;
    font-size:50px;
}

.introducción {
    font-family:'Segoe UI';
    border:solid;
    padding:10px;
    margin:5px;
}

#gastronomía, #interes, #arteycultura, #recomendaciones, #contacto {
    background-color:antiquewhite;
}

h2, h3{
    font-family: "Quetrial";
    font-palette: dark;
    text-align: center;
    border: 3px solid black;
    font-size: 40px;
    background-color: #ff3131b0;
}

.carousel-container {
    width: 1200px;
    height: 400px;
    overflow: hidden;
    padding-right: 15%;
    padding-left: 15%;
}

.carousel {
    margin: 2px;
    display: flex;
    transition: transform 0.5s; /* Agregar transición para deslizar imágenes */
}

    .carousel li {
        width: 600px; /* Ancho de cada imagen */
        height: 400px;
    }


@media(min-width:600px) {

    .flexbox {
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

 li {
        background-color: #ff3131;
        border: 3px solid black;
        height: 30px;
        width: 200px;
        list-style: none;
        text-align: center;
        margin: 8px;
        font-family: 'Segoe UI';
        color: black;
 }


li:hover{

    transform:scale(1.5,1.5);
    
}

p {
    font-family: 'Segoe UI';
    text-align: center;
    padding:5px;
    margin: 5px;
}

a{
    color:darkgreen;
    width:50px;
    font-size:large;
    padding:5px;
    border-radius:15%;
    text-decoration-style:dotted;
}

a:link{

    background-color:yellow;
}

 a:active {
        font-family: 'Lucida Calligraphy';
    }

a:visited{
    color:deeppink;
}

a:hover{
    background-color:aqua;
    font-size:30px;
}

.formulario{
    display:flex;
    background-image:url('https://pbs.twimg.com/media/Daf9DH_X4AAQ_oH.jpg');
    padding: 2%;
    justify-content: center;
}

form, .form-select{
    background-color:whitesmoke;
    display: flex;
    padding-top:2%;
    padding-left: 2%;
    padding-right: 2%;
    flex-direction:column;
    justify-content:center;
}


.form-floating{
    background-color:whitesmoke;
    display: flex;
    padding-top:2%;
    padding-left: 2%;
    padding-right: 2%;
    flex-direction:column;
    justify-content:center;
}



input, textarea{   
    padding: 2%;
    margin: 5%;
    border-radius: 10%;
    background-color: rgba(245, 245, 245, 0.363);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
}

label{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

footer{
    text-align:center;
    font-family:"Questrial";
    font-size:15px;
    font-palette:inherit;
}